<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.UserMapper">
    <!-- 회원가입 -->
    <insert id="userRegProc" parameterType="UserDTO">
	INSERT
	INTO
	user_info
	(
		USER_EMAIL,
		USER_NAME,
		PASSWORD,
		REG_ID,
		REG_DT,
		USER_ASS
	)
	VALUES
	(
		#{userEmail},
		#{userName},
		#{userPassword},
		#{userEmail},
		SYSDATE(),
		0
	)

</insert>
    <!-- 이메일 중복확인 -->
    <select id="eCheck" parameterType="String" resultType="String">
SELECT COUNT(*)
FROM
	user_info
WHERE
	USER_EMAIL=#{userEmail}
</select>
    <!-- 로그인하고정보가져오기 -->
    <select id="getUserInfo" parameterType="UserDTO" resultType="UserDTO">
SELECT
	USER_SEQ AS userSeq,
	USER_EMAIL AS userEmail,
	USER_NAME AS userName,
	REG_DT AS userReg_dt,
	CHG_DT AS userChg_dt,
	CHG_ID AS userChg_id,
	USER_ASS AS userAss
FROM user_info
WHERE USER_EMAIL = #{userEmail} AND PASSWORD = #{userPassword}
</select>
    <!-- 회원탈퇴 하기 -->
    <delete id="userDelete" parameterType="UserDTO">
DELETE
FROM
	user_info
WHERE
	USER_EMAIL=#{userEmail}
</delete>
    <!-- 아이디 찾기 -->
    <select id="email1" parameterType="UserDTO" resultType="String">
SELECT SUBSTR(USER_EMAIL,1,1)
FROM
 user_info
WHERE
  USER_NAME = #{userName}
</select>
    <select id="email2" parameterType="UserDTO" resultType="String">
SELECT SUBSTR(USER_EMAIL,7)
FROM
 user_info
WHERE
  USER_NAME = #{userName}
</select>
    <!-- 비밀번호 변경 -->
    <update id="changeP" parameterType="UserDTO">
UPDATE
	user_info
SET
	PASSWORD = #{userPassword}
WHERE
	USER_EMAIL = #{userEmail}
</update>
    <select id="pw" parameterType="string" resultType="string">
SELECT
	PASSWORD
FROM
	user_info
WHERE
	USER_EMAIL = #{userEmail}
</select>
    <!-- 회원정보 변경 -->
    <update id="userMod" parameterType="UserDTO">
UPDATE
	user_info
SET
		USER_EMAIL = #{userEmail},
		USER_NAME = #{userName},
		CHG_ID = #{userChg_id},
		CHG_DT=#{userChg_dt}

WHERE
	USER_SEQ = #{userSeq}
</update>
</mapper>