<component name="ArtifactManager">
  <artifact type="war" name="SpringForMySQL:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringForMySQL</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringForMySQL-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringForMySQL:war exploded" />
    </root>
  </artifact>
</component>